# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CUSTOM_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
	default "Gabe KB Left"

endif

if SHIELD_CUSTOM_SPLIT_RIGHT

config ZMK_KEYBOARD_NAME
	default "Gabe KB Right"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif
